<div class="ui tokoflix inverted borderless stackable menu">
  <a class="header item"  routerLink="/home" >
    <img src="../assets/Tokopedia_Mascot.png" alt="Tokopedia_Mascote logo" class="brand-image "
          style="opacity: .8">
      <h2 class="tokotext">{{ title }} </h2>
  </a>
    <div class="ui grid tokocart">
        <div class="computer only tablet only row ">
          <button class="ui big right labeled icon button tokoflix"  type="submit" >
            <i class="icon shopping cart"></i>
            <span >Your Cart</span>
          </button>
        </div>
        <div class="mobile only row">
          <button class="ui big button tokoflix" type="submit" >
            <i class="icon-shopping-cart"></i>
          </button>
        </div>
      </div>
</div>
