.segment {
  height: 100%;
  min-height: 100%;
}

.brand-image {
  line-height: .8;
  max-height: 53px;
  width: auto;
  margin-left: 0.7rem;
  margin-right: .5rem;
  margin-top: -3px;
  float: none;
}

.tokoflix {
  background-color: #38bc25 !important;
  color: #fff !important;
}

.tokoflixtext {
  color: #38bc25 !important;
}

.tokotext {
  line-height: 0;
  margin-left: 10%;
  margin-bottom: 19% !important;
}

.tokocart {
              position: absolute;
              font-size: 10px;
              right: 6%;
              top: 2%;
              height: auto;
              padding: 1%;
}