<div class="ui container">
  <h2 class="ui tokoflixtext header">
    {{ selectedMovie?.title }}
    <div class="sub header">{{ selectedMovie?.original_title }}</div>
  </h2>

  <div class="ui floating message" id="main" >
    <div class="ui padded grid" id="content">
      <div class="middle aligned sixteen wide mobile eight wide tablet four wide computer column">
        <img *ngIf="selectedMovie?.poster_path" class="ui fluid image" src="https://image.tmdb.org/t/p/w500{{selectedMovie?.poster_path}}">
      </div>

      <div class="sixteen wide mobile eight wide tablet twelve wide computer column">
        <div class="ui centered grid">

          <!-- gatunki -->
          <div  class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <i *ngFor="let genre of selectedMovie?.genres" class="ui tokoflixtext label">{{ genre.name }}</i>
          </div>
          <!-- -->

          <!-- opis -->
          <div  class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <div class="ui sub header">
              <span>Overview</span>
            </div>
            {{ selectedMovie?.overview }}
          </div>
          <!-- -->

          <!-- WWW -->
          <div  class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <div class="ui sub header">
              <span>Additional information</span>
            </div>

            <a *ngIf="selectedMovie?.imdb_id" href="http://www.imdb.com/title/{{ selectedMovie?.imdb_id }}/">
              <i class="ui yellow label">IMDb</i>
            </a>

            <a *ngIf="selectedMovie?.homepage" href="{{ selectedMovie?.homepage }}/">
              <i class="ui label">WWW</i>
            </a>
          </div>
          <!-- -->

          <!-- statystyki -->
          <div  class="center aligned eight wide mobile eight wide tablet three wide computer column">
            <div class="ui green statistic">
              <div class="label">
                <span>Vote average</span>
                </div>
              <div class="text value">{{ selectedMovie?.vote_average }}</div>
            </div>
          </div>

          <div  class="center aligned eight wide mobile eight wide tablet four wide computer column">
            <div class="ui green statistic">
              <div class="label">
                <span>vote count</span>
                </div>
              <div class="text value">{{ selectedMovie?.vote_count }}</div>
            </div>
          </div>

          <div  class="center aligned eight wide mobile eight wide tablet four wide computer column">
            <div class="ui teal statistic">
              <div class="label">
                <span>Popularity</span></div>
              <div class="text value">{{ selectedMovie?.popularity | number: '1.0-2' }}</div>
            </div>
          </div>

          <div  class="center aligned eight wide mobile eight wide tablet five wide computer column">
            <div class="ui blue statistic">
              <div class="label">
                <span>Release date</span></div>
              <div class="text value">{{ selectedMovie?.release_date }}</div>
            </div>
          </div>
          <!-- -->
        </div>
      </div>
    </div>

    <div class="sixteen wide column">
      <div class="ui large animated fluid button" tabindex="0" (click)="back()">
        <div class="visible content">
          <i class="left arrow icon"></i>
        </div>
        <div class="hidden content">
          <span>Back</span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="ui container">
    <div class="ui grid">
        <div class="middle aligned sixteen wide mobile eight wide tablet eight wide computer column">
            <div class="ui large breadcrumb">
              <div class="active section">
                <span class="ui tokoflixtext header">
                  <span >Recommended Movies</span>
                </span>
              </div>
            </div>
          </div>

        <div class="ui link five doubling cards" *ngIf="similarMovies.length > 0">
          <div class="card" *ngFor="let movie of similarMovies, let i = index" [routerLink]="['/movie/'+movie.id]" routerLinkActive="active">
            <div class="image">
              <img *ngIf="movie.poster_path" class="ui middle aligned tiny image" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}">
              <img *ngIf="!movie.poster_path" class="ui middle aligned tiny image" src="https://placehold.it/500x740">
            </div>
            <div class="content">
              <div class="header">
                {{ movie.title }}
              </div>
              <div class="description">
                <span >Popularity</span>
                  : {{ movie.popularity  | number : '1.0-1' }}
                <br>
                <span >Vote count</span>
                  : {{ movie.vote_count }}
              </div>
            </div>
            <div class="extra content">
              <span class="right floated">
                <h3>
                  <i class="star icon"></i>
                    {{ movie.vote_average }}
                </h3>
              </span>
                {{ movie.release_date }}
            </div>
          </div>
        </div>
  </div>
</div>

